.modal-container-shadow {
  --modal-column-mult: 1;
  --modal-border-radius: 1rem;
  --modal-shadow-offset: 0.9rem;
  --modal-width: calc(20rem * var(--modal-column-mult));
  --modal-max-height: calc(0.85 * var(--device-root-height));
  border-radius: var(--modal-border-radius);
  background-color: var(--modal-outer-shadow-color);
  position: absolute;
  inset: 2rem 2.6rem 2rem;
  padding-bottom: var(--modal-shadow-offset);
  height: fit-content;
  max-height: var(--modal-max-height);
  width: var(--modal-width);
  max-width: calc(100vw - 2 * 2.6rem);
  outline: none;
}

.modal-container {
  --modal-border-width: 0.3rem;
  --modal-scroll-width: 0.6rem;
  border: solid var(--modal-border-width) var(--modal-border-color);
  border-radius: var(--modal-border-radius);
  background-color: var(--modal-bg-color);
  max-height: calc(
    var(--modal-max-height) - var(--modal-shadow-offset) - 2 * 0.5rem
  );
  margin-inline: -0.8rem;
  height: fit-content;
  flex-direction: column;
  display: flex;
  overflow: overlay;
}

.modal-overlay {
  background: var(--modal-overlay-bg-color);
  position: fixed;
  z-index: 1;
  inset: 0;
}

.modal > header {
  --header-font-size: 1.7rem;
  --header-line-height: calc(1.2 * var(--header-font-size));
  background-color: var(--modal-header-bg-color);
  height: max-content;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.8rem;
  gap: 1rem;
}

.modal > header p {
  min-width: 0;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--modal-header-txt-color);
  font-size: var(--header-font-size);
  font-weight: var(--font-semi-bold);
  line-height: var(--header-line-height);
  margin-left: 0.3rem;
  margin-block: 0;
}

.modal > header svg {
  --x-stroke: 2.5;
  height: var(--header-line-height);
  min-width: var(--header-line-height);
  background: var(--modal-close-bg-color);
  color: var(--modal-close-color);
  stroke-width: var(--x-stroke);
  border-radius: 0.24rem;
  transition: 100ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modal > header svg:hover {
  background: white;
  outline: solid 0.25rem #3e5c8f;
}

.modal > header svg:focus-visible {
  background: var(--modal-outer-shadow-color);
  outline: solid 0.2rem var(--modal-close-bg-color);
  color: var(--modal-close-bg-color);
}

.modal-content {
  display: flex;
  --modal-cont-radius: calc(0.5 * var(--modal-border-radius));
  margin: 0.8rem 0.4rem 1rem;
  overflow: auto;
  border-radius: 0 0 var(--modal-cont-radius) var(--modal-cont-radius);
  max-height: var(--modal-max-height);
}

.modal-content .scroll-container {
  width: 100%;
}
.modal-content div[data-overlayscrollbars-viewport] {
  transition: 100ms ease;
}
.modal-content .modal-content-bounds {
  padding: 0 var(--modal-scroll-width) !important;
  height: fit-content;
  max-width: 100%;
}

.modal-content:empty {
  display: none;
}

/* ====================== Modal Transitions ====================== */

.ReactModal__Body--open {
  overflow: hidden;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 200ms ease;
}

.ReactModal__Overlay--after-open {
  opacity: 100%;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  transition: 500ms cubic-bezier(0.1, 1.3, 0.5, 1);
  transform: translate(-50%, 50%);
  top: 50%;
  left: 50%;
}

.ReactModal__Content--after-open {
  transform: translate(-50%, -50%);
}

.ReactModal__Content--before-close {
  transition: 500ms cubic-bezier(0.2, 0, 0, 1.3);
  transform: translate(-50%, 50%);
}
